* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #262626;
    font-family: OpenSans;
}

.navbar {
    background-color: #fac912 !important;
}

.brandLogo {
    width: 121.6px;
    height: 38.8px;
    margin-left: 3rem;
    margin-left: 5rem;
}

.NavLinks {
    text-decoration: none;
    font-family: OpenSans;
    font-size: 1.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #424447;
    margin-right: 30px;
}

.InfluencerLogo {
    width: 853px;
    height: 853px;
    margin-right: 200px;
    margin-bottom: 20px;
    object-fit: contain;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}

.signIn {
    margin-top: 119px;
    margin-left: -250px;
    font-family: OpenSans;
    /* font-size: 30px; */
    font-size: 3.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.85px;
    text-align: center;
    color: #fac912;
}

.form {
    width: 40.8rem;
    height: 53.3rem;
    margin-top: 4.4rem;
    margin-left: -20rem;
    border: 1px solid #424447;
    background-color: #424447;
    border-radius: 12px;
    object-fit: contain;
}

.brandSign {
    margin-top: 4.2rem;
    margin-bottom: 4rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.9px;
    text-align: center;
    color: #e6e6e6;
}

.formData {
    margin-left: 5rem;
}

.label {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #e6e6e6;
}

.input {
    width: 28.8rem;
    height: 3.7rem;
    margin-top: 1rem;
    border-color: #fac912;
    background-color: #262626;
    border-radius: 0.3rem;
}

::placeholder {
    padding-left: 1.8rem;
    color: #8a8a8a;
}

.signBtn {
    width: 12.4rem;
    height: 3.7rem;
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #fac912;
    background-color: #fac912;
    border-radius: 0.3rem;
}

.signBtn a {
    text-decoration: none;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1.2px;
    text-align: center;
    color: #262626;
}

.OR {
    margin-top: 3rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.79;
    letter-spacing: 0.56px;
    text-align: center;
    color: #ffffff;
}

.SMC {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-align: center;
    color: #e6e6e6;
}

.socialIcons {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
}

.links {
    margin-right: 4rem;
}

.register {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 8.3rem;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.45px;
    text-align: center;
    color: #e6e6e6;
}

.register a {
    color: #7cb7b5;
}

.counting {
    margin-bottom: 4.3rem;
}

.line1 {
    width: 0;
    height: 70.7px;
    margin-top: -17rem;
    margin-left: 12rem;
    border: 1px solid #fac912;
}

.values {
    margin-top: -6.5rem;
    margin-left: 14rem;
}

.count {
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.special {
    margin-bottom: 8rem;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.31px;
    text-align: left;
    color: #7cb7b5;
}

.line2 {
    width: 0;
    height: 70.7px;
    margin-top: -14rem;
    margin-left: 24rem;
    border: 1px solid #fac912;
}

.value1 {
    margin-top: -6.5rem;
    margin-left: 26rem;
}

.line3 {
    width: 0;
    height: 70.7px;
    margin-top: -14rem;
    margin-left: 41rem;
    border: 1px solid #fac912;
}

.value2 {
    margin-top: -6.5rem;
    margin-left: 43rem;
}

.line4 {
    width: 0;
    height: 70.7px;
    margin-top: -14rem;
    margin-left: 55rem;
    border: 1px solid #fac912;
}

.value3 {
    margin-top: -6.5rem;
    margin-left: 57rem;
}

.line5 {
    width: 0;
    height: 70.7px;
    margin-top: -14rem;
    margin-left: 68rem;
    border: 1px solid #fac912;
}

.description {
    margin-top: 6.4rem;
    width: 100%;
    height: 58.8rem;
    background-color: black;
}

.works {
    padding-top: 6.6rem;
    margin-left: 19.4rem;
    margin-bottom: 2.15rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 2.25px;
    text-align: left;
    color: #f0f0e9;
}

hr {
    width: 70%;
    margin-left: 19.4rem;
    border: 2px solid #fac912;
}

.block {
    margin-top: 7.15rem;
    margin-left: 19.4rem;
    display: grid;
    grid-auto-flow: column;
}

.subscribe {
    width: 315px;
    height: 19px;
    margin-top: 2.5rem;
    margin-bottom: 1.4rem;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.84px;
    text-align: left;
    color: #fac912;
}

.detail {
    width: 258px;
    height: 77px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.6px;
    text-align: left;
    color: #f0f0e9;
}

.regisLogo {
    margin-left: -8rem;
    margin-bottom: 2rem;
}

.contact {
    width: 720px;
    height: 24px;
    margin-top: 7.3rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.45px;
    color: #f0f0e9;
}

.contact a {
    font-weight: bold;
    color: #7cb7b5;
}

.celebBox {
    margin-top: 10.3rem;
    width: 85%;
    height: 84.8rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #0b0b0b;
    border-radius: 1.2rem;
}

.celebNote {
    padding-top: 6.6rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 1.5px;
    text-align: center;
    color: #f0f0e9;
}

.newLine {
    width: 75%;
    margin-left: 14rem;
    margin-top: 2.25rem;
    border: 2px solid #fac912;
}

.leftArrow {
    color: #8a8a8a;
    background-color: #8a8a8a;
}

.celebFlex {
    margin-top: 7.65rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: 3rem;
}

.box {
    /* width: 28.2rem; */
    width: 100%;
    height: 56.9rem;
    border-radius: 1.2rem;
    border-color: #3a3c3f;
    background-color: #3a3c3f;
}

.companyLogo {
    float: right;
    padding-top: 1.5rem;
    margin-right: 1.5rem;
}

.celebLogo {
    margin-top: 4.5rem;
    display: block;
    margin-left: 6.1rem;
    margin-right: auto;
}

.celebDetails {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.celebName {
    margin-top: 2.3rem;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: center;
    color: #f0f0e9;
}

.celebDesign {
    margin-top: 0.3rem;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #f0f0e9;
}

.celebThoughts {
    /* width: 220px; */
    width: 90%;
    height: 229px;
    margin-top: 3.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #f0f0e9;
}

.things {
    width: 100%;
    height: 110.86rem;
    margin-top: 9.5rem;
    background-color: #424447;
}

.check {
    padding-top: 10rem;
    font-family: 'OpenSans';
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: 0.8px;
    text-align: center;
    color: #7cb7b5;
}

.Rectangle {
    margin-top: 6.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Group {
    position: relative;
    margin-top: -35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data {
    margin-top: 25.7rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.55px;
    text-align: center;
    color: #f0f0e9;
}

.things button {
    width: 23.5rem;
    height: 5.4rem;
    margin-top: 9.1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fac912;
    background-color: #fac912;
    border-radius: .5rem;
    cursor: pointer;
}

.things button p {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: center;
    color: #000000;
}

.demo {
    margin-top: 2.2rem;
    object-fit: contain;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: center;
    color: #f0f0e9;
}

.arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border: solid 5px #8a8a8a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    margin-top: 0;
    margin-left: 70pt;
    border-top: 35px solid #262626;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom-style: none;
}

.posts {
    margin-top: 13.24rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    color: #fac912;
}

.hashtag {
    margin-top: 2.8rem;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.8px;
    text-align: center;
    color: #f0f0e9;
}

.footer {
    width: 100%;
    height: 45.23rem;
    margin-top: 10rem;
    background-color: #424447;
}

.footerGalleri {
    margin-top: 11.03rem;
    margin-left: 17.8rem;
}

.footerFlex {
    display: flex;
    flex-direction: row;
}

.footerGrid {
    margin-top: 3rem;
    margin-left: 17.8rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: 4rem;
}

.footerGrid a {
    text-decoration: none;
    object-fit: contain;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.6px;
    color: #f0f0e9;
}

.footerData {
    margin-top: 10.93rem;
    margin-left: 35.2rem;
}

.footerExplore {
    object-fit: contain;
    font-family: OpenSans-Bold;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.9px;
    text-align: center;
    color: #f0f0e9;
}

.footerButton {
    width: 23.5rem;
    height: 5.4rem;
    margin-top: 1rem;
    border: 3px solid #fac912;
    border-radius: .5rem;
    background-color: transparent;
    cursor: pointer;
}

.footerEnd {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: center;
    color: #f0f0e9;
}

.footerLogo {
    margin-top: 8rem;
    margin-left: 60rem;
}

.footerLogo img {
    margin-right: 1rem;
}

.viewMore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11rem;
    width: 17rem;
    height: 5.4rem;
    border: 3px solid #fac912;
    border-radius: .5rem;
    background-color: black;
}

.viewMore p {
    object-fit: contain;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #f0f0e9;
}